<!DOCTYPE html>
<html>
    <head>
        <title>Checkout</title>
       <meta charset="UTF-8">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css" type="text/css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    </head>
    <style>

       body{
      overflow-x: hidden;
      }
    #sec4{
    position: absolute;
   top:800px;

   height:500px;
   width: 100%;
   background-image: url(https://ld-wp.template-help.com/wordpress_64616/wp-content/uploads/2017/02/homebg6.jpg);
   background-repeat: no-repeat;
    }
    #he{
        position: absolute;
    top: 30%; 
    left: -100px;
    
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
   
    }
 
    </style>
    <script>
        var model = document.querySelector(".model");

        function fadeIn () {
        console.log('fadein')
          model.className += " fadeIn";
}
    const disp=document.querySelector('#v1')
    fetch('http://localhost:3000/checkout.html')
      .then(response=> {return response.json()})
      .then(data => {
          data.array.forEach(na => {
             const ti = `<td id="v1">`+na.total`</td>`
             feedDisplay.insertAjacentHTML("beforeend",ti)
            
          })
      })
     
function myFunction() {
  alert("Booked  your tickets details will be mailed ");
}

    </script>
    
    <body>
      <a href="home.html"><img id ='img1'src="mt-1375-logo-img.png"></a>
       
        <ul id="st1">
          <li><a href="https://www.facebook.com/zuck/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/elonmusk"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/mark-zuckerberg-618bba58/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/zuck/?hl=en"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
        <nav id="n1"> 
            <a href="home.html">HOME</a>
            <a href="about.html">ABOUT US</a>
            <a href="home.html#sec2">GALLERY</a>
            <a href="book.html">BOOK</a>
            <a href="https://g.page/DenosWonderWheelAmusementPark?share">CONTACT</a>
            <div id="indicator"></div>
        </nav>
        <div class="model">
            <div class="room">
              
            </div><div class="payment">
              <div class="receipt-box">
                <h3>Reciept Summary</h3>
                  
                  <h1></h1>
                  <table class="table">
                    <tr>
                      <td>120 x <%=  temp[temp.length-1].total %> </td>
                      <td><%=  temp[temp.length-1].total * 120 %>.00 USD</td>
                    </tr>
                    <tr>
                      <td>Discount</td>
                      <td>0 USD</td>
                    </tr>
                    <tr>
                      <td>Subtotal</td>
                      <td><%=  temp[temp.length-1].total * 120 %> USD</td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td>10 USD</td>
                    </tr>
                    <tfoot>
                      <tr>
                        <td>Sum</td>
                        <td>$<%=  temp[temp.length-1].total * 120 + 10 %></td>
                      </tr>
                    </tfoot>
                  </table>
                  
              </div>
              <div class="payment-info">
                <h3>Payment Info</h3>
                <form action="/paye" method="post">
                <label>Name on Credit Card</label>
                <input type="text" name="firstname">
                <label>Credit Card Number</label>
                <input type="text" name="numb">
                <br><br>
                <button class="btn" type="submit" value="Book Securly" onclick="myFunction()">Book Securly</button>
                
              </form>
              </div>
            </div>
          </div>
        <section id="sec5">
    
          <img id ='img2'src="mt-1375-logo-img.png"> 
          <ul id="st3">
            <li>Mail:info@demo.com</li>
            <li>555 666 777</li>
            <li><i class='fas fa-map-marked-alt' style='font-size:24px'></i>    2800,Bedford,NY</li>
          </ul>
          
          <ul id="st2">
            <li><a href="https://www.facebook.com/zuck/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/elonmusk"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mark-zuckerberg-618bba58/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/zuck/?hl=en"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
          <h1 id="t1">Hours</h1>
          <ul id="sh">
            <li>Mon - Closed</li>
            <li>Tue - 9:00 pm - 2:00 pm</li>
            <li>Wed - 9:00 pm - 2:00 pm</li>
            <li>Thur - 9:00 pm - 2:00 pm</li>
            <li>Fri - 9:00 pm - 2:00 pm</li>
            <li>Sat - 9:00 pm - 2:00 pm</li>
          </ul>
          <div class="form" >
            <div class="title">Welcome</div>
            <div class="subtitle"> give your query!</div>
            <form action="/signup" method="POST">
            <div class="input-container ic1">
              <input id="name" class="input" type="text" placeholder="" name='name'/>
              <div class="cut"></div>
              <label for="name" class="placeholder">Name</label>
            </div>
            <div class="input-container ic2">
              <input id="query" class="input" type="text" placeholder="" name='query'/>
              <div class="cut"></div>
              <label for="query" class="placeholder">Query</label>
            </div>
            <div class="input-container ic2">
              <input id="email" class="input" type="text" placeholder="" name="email" />
              <div class="cut cut-short"></div>
              <label for="email" class="placeholder">Email</label>
            </div>
            <button type="submit" class="submit">submit</button>
            </form>
          </div>

        </section>
    </body>
</html>